/* == Safariモード == */
/* -- Appleデバイス用 --*/

@supports (image-rendering: optimizeSpeed) {
    #header-extra-div-2 {
        position: var(--set-safari-mode-disabled, fixed);
        left: var(--set-safari-mode-disabled, 0);
        top: var(--set-safari-mode-disabled, 0);
        width: var(--set-safari-mode-disabled, var(--side-bar-button-width));
        min-width: var(--set-safari-mode-disabled);
        height: var(--set-safari-mode-disabled, var(--base-header-height));
        pointer-events: var(--set-safari-mode-disabled, none);
    }

    #header #header-extra-div-2::before {
        content: var(--set-safari-mode-disabled, "");
        width: var(--set-safari-mode-disabled, 100%);
        height: var(--set-safari-mode-disabled, 100%);
        left: var(--set-safari-mode-disabled, 0);
        top: var(--set-safari-mode-disabled, 0);
        display: var(--set-safari-mode-disabled, block);
        position: var(--set-safari-mode-disabled, absolute);
        background-color: var(--set-safari-mode-disabled, rgb(var(--side-bar-button-color)));
        -webkit-mask-image: var(--set-safari-mode-disabled, var(--side-bar-button-mask));
        mask-image: var(--set-safari-mode-disabled, var(--side-bar-button-mask));
        -webkit-mask-position: var(--set-safari-mode-disabled, center);
        mask-position: var(--set-safari-mode-disabled, center);
        -webkit-mask-size: var(--set-safari-mode-disabled, contain);
        mask-size: var(--set-safari-mode-disabled, contain);
        -webkit-mask-repeat: var(--set-safari-mode-disabled, no-repeat);
        mask-repeat: var(--set-safari-mode-disabled, no-repeat);
        transition: var(--set-safari-mode-disabled, background-color var(--side-bar-transition));
    }

    #header #header-extra-div-2::after {
        content: var(--set-safari-mode-disabled, "");
        width: var(--set-safari-mode-disabled, 100%);
        height: var(--set-safari-mode-disabled, 0%);
        left: var(--set-safari-mode-disabled, 0);
        top: var(--set-safari-mode-disabled, 0);
        display: var(--set-safari-mode-disabled, block);
        position: var(--set-safari-mode-disabled, absolute);
        background-color: var(--set-safari-mode-disabled, rgb(var(--side-bar-button-background-hover)));
        z-index: var(--set-safari-mode-disabled, -1);
        transition: var(--set-safari-mode-disabled, height var(--side-bar-transition));
    }

    #header:where(:has(+ #content-wrap #side-bar:is(:hover, :focus-within))) #header-extra-div-2::before {
        background-color: var(--set-safari-mode-disabled, rgb(var(--side-bar-button-color-hover)));
    }

    #header:where(:has(+ #content-wrap #side-bar:is(:hover, :focus-within))) #header-extra-div-2::after {
        height: var(--set-safari-mode-disabled, 100%);
    }

    #side-bar::before,
    #side-bar::after {
        opacity: var(--set-safari-mode-disabled, 0);
    }

    @media only screen and (max-width: 1024px) {
        #header-extra-div-2,
        #header-extra-div-2::before,
        #header-extra-div-2::after {
            display: var(--set-safari-mode-disabled, none);
        }
    }
}
